/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  #fc-dom-1 {
    @apply text-white;
  }
  .fc-toolbar-chunk {
    @apply flex !important;
  }
  .fc-prev-button,
  .fc-next-button {
    @apply bg-transparent border-none outline-none !important;
  }
  .fc-view-harness {
    @apply min-h-[560px]  !important;
  }
  .fc-daygrid-day-frame {
    @apply min-h-[98px] !important;
  }
  .fc-scrollgrid {
    @apply mb-[40px];
  }
}
